body{
	list-style: none;
	background-color: #fff;
	height: 100%;
	font-size: 14px;
}

img{
	max-width:100%;
	height: auto;
}

iframe{
	border: 0;
}

.gap-0{
	margin: 0;
	padding: 0;
}

.main_content{
	margin-top: 25px;
}

.margin_area{
	margin-bottom: 30px;
}

/* LINK */
a:link { color: #333; }
a:visited { color: #555; }
a:hover { color: #999;text-decoration: none}
a:active { color: #999; }

.card{
	margin-bottom: 15px;
	box-shadow: 3px 3px 2px rgba(155,155,155,0.2);
}

.content_area{
}

.content_area li a{
	color: #4187BB;
}

.content_area li a:hover{
	color: #4FA3E2;
	text-decoration: underline;
}

.text_center{
	text-align: center;
}
.site_title{
	text-align: center;
	width:100%;
}
.site_title h1{
	padding: 20px 0;
	font-size: 25px;
	font-weight: 400;
}

.site_title h1 a{
	display: inline-block;
	color: #3B434E;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 2.5px;
}

h2{
	font-size: 25px;
	font-weight: bold;
}

h3{
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
}

.home{
	margin-bottom: 40px;
}

.page{
	padding-top: 20px;
	text-align: center;
}

.explanation{
	color: #999;
	margin-bottom: 25px;
	text-align: center;
	font-size: 11px;
}

.color-white{
	color:#fff !important;
}
.bg-menu:hover{
	background-color:#585f69 !important;
}

.head_menu{
	background-color: #3B434E;
	letter-spacing: 1.2px;
}

.head_menu span{
	font-size: 11px;
}

header .col-4{
	padding: 0;
}

#twi_content{
	width: 680px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}

.post_image{
	width: 420px;
	height: 280px;
	margin: 0 auto;
	max-width: 100%;
}

.post_image img{
	width: 100%;
	height :100%;
	object-fit: cover;
}

.post_media{
	margin-top: 16px;
}
#result_content{
	margin: 25px 0;
}

#read_page{
	text-align: center;
	margin: 30px auto;
	color: #fff;
	font-size:12px;
	cursor: pointer;
	padding: 8px 0;
	display: none;
	background-color: #da4a4a;
	width: 75%;
	max-width: 95%;
	border-radius: 3px;
}

.art_li{
display: inline-block;
vertical-align: top;
width: 19.8%;
padding: 4px;
position: relative;
}

.item_inner{
border-radius: 4px;
overflow-wrap: break-word;
word-break: break-all;
position: relative;
}

.item_ranking{
position: absolute;
top: 1px;
left: 1px;
background-color: rgba( 60, 60, 60, 0.5 );
padding: 4px 6px;
font-size: 9px;
color: #fff;
border-radius: 10px;
}

.item_count{
position: absolute;
bottom: 1px;
right: 1px;
background-color: rgba( 100, 100, 100, 0.5 );
padding: 4px 6px;
font-size: 9px;
color: #fff;
border-radius: 10px;
}

.item_image{
width: 100%;
}

.item_image img{
width: 100%;
height: auto;
object-fit: contain;
border-radius: 3px;
}

.footer{
	margin-top: 20px;
	padding: 22px;
	background-color: #3B434E;
	width: 100%;
}

.footer_bottom{
	text-align: center;
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.2px;
}

.footer_bottom a{
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.2px;
}

@media all and (max-width: 992px) {
	.art_li{
	width: 24.8%;
	}
}
@media all and (max-width: 768px) {
	.art_li{
	width: 33.1%;
	}
}
@media all and (max-width: 578px) {
	.art_li{
	width: 49.8%;
	}
}

/* menu */
.btn:focus{outline:0;box-shadow:0 0 0 .0rem}

/* tag */
.btn-outline-secondary{color:#fff!important;font-size:12px;border-color:#da4a4a;background-color:#da4a4a;margin-top:3px;}
.btn-outline-secondary:hover{color:#fff;background-color:#e56c65;border-color:#e56c65;}
.btn-outline-secondary:focus{box-shadow:none !important;background-color:#e56c65!important;border:none!important;}

/* get video */
input::placeholder {font-size:13px;}
input[type=text]:focus{box-shadow:0 0 0 .2rem rgba(233,135,129);border:none;}
.btn-primary{color:#fff;font-size:13px;background-color:#da4a4a;border-color:#da4a4a;}
.btn-primary:hover{color:#fff;background-color:#e56c65;border-color:#e56c65;}
.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(233,135,129)!important;background-color:#e56c65!important;border:none;}

/* pagetop */
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3B434E;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* btn */
a.btn-border1 {
  border-radius: 1px;
  color: #fff;
  background: #00B900;
  width: 150px;
}

a.btn-border2 {
  border-radius: 1px;
  color: #fff;
  background: #1DA1F2;
  margin-left: 10px;
  width: 150px;

}

a.btn-border3 {
  border-radius: 1px;
  color: #fff;
  background: #000;
  margin-top: 10px;
  width: 90%;

}

a.btn-border1:hover {
  color: #fff;
}

a.btn-border2:hover {
  color: #fff;
}

a.btn-border3:hover {
  color: #fff;
}

.btn-home{
  margin: 30px 5px -10px;
}

.btn-other{
  text-align: center;
  margin: 30px 5px 30px;
}

.btn-danger{color:#fff;background-color:#da4a4a;border-color:#da4a4a}
.btn-danger:hover{color:#fff;background-color:#e56c65;border-color:#e56c65}



/* porndude */
.porndude {
  display: inline-block
}

.porndude img{
  width: 18px;
  height: 18px;
  margin-right: 3px; 
  vertical-align: bottom;
}

/* boost */
.__isboostReturnAdBody .__isboostOverContentCloseBtn {
	left: 0 !important;
	top: 0 !important;
	width: 18px !important;
	height: 18px !important;
	padding: 0 !important;
	line-height: 12px !important;
	background-color: #000 !important;
	border: 2px solid #fff !important;
}